In [3]:
import pandas as pd
import numpy as np
# 학습에 사용할 데이터 
train_df = pd.read_csv('../titanic data/train.csv')
# 모델 검증 사용할 데이터
test_df = pd.read_csv('../titanic data/test.csv')
# gender_submission 제출파일형식
gender_submission_df = pd.read_csv('../titanic data/gender_submission.csv')

In [4]:
train_df.shape

(891, 12)

In [5]:
train_data_df = train_df.drop('Survived', axis=1)
y_target = train_df['Survived']

In [6]:
train_data_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, ytest = train_test_split(train_data_df, y_target, test_size=0.2, random_state=11)
X_train.shape, X_test.shape

((712, 11), (179, 11))

In [8]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=11)
X_tr.shape, X_val.shape

((640, 11), (72, 11))